/dist
/build
/tmp

/node_modules

logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
lerna-debug.log*

.env
.env.development
.env.test
.env.production

.npm
.eslintcache
.node_repl_history

/coverage

/generated/prisma
